body{
    font-family: sans-serif;
    /*padding: 0;*/
    /*margin: 0;*/
}

.content-main{
    width:750px;
    text-align: center;
}

.header-image{
    width: 450px;
}

.line{
    width: 750px;
    height: 5px;
    background: #BF0000;
}